# Ignore Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environments
venv/
ENV/
env/
.venv/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE/editor files
.vscode/
.idea/
*.swp

# Ignore logs or temporary files
*.log
*.tmp

.env